94fedf6142d85e4d/flows.json
[{"id":"94fedf6142d85e4d","type":"tab","label":"流程 1","disabled":true,"info":"","env":[]},{"id":"8d1e9d8e.7f5e2","type":"http in","z":"94fedf6142d85e4d","name":"","url":"/v2/watcher/talk/view_task_detail","method":"get","upload":false,"swaggerDoc":"","x":490,"y":820,"wires":[["3c1e1b4e.9e1a74","204c14336004126c"]]},{"id":"3c1e1b4e.9e1a74","type":"function","z":"94fedf6142d85e4d","name":"Build Response","func":"msg.payload = {\n    \"code\": 200,\n    \"msg\": \"\",\n    \"data\": {\n        \"tl\": {\n            \"tlid\": 1723187201685,\n            \"ctd\": 1723187201685,\n            \"tn\": \"watcher push to talk\",\n            \"type\": 3,\n            \"task_flow\": [\n                {\n                    \"id\": 60516737,\n                    \"type\": \"ai camera\",\n                    \"type_id\": 0,\n                    \"index\": 0,\n                    \"vision\": \"0.0.1\",\n                    \"params\": {\n                        \"model_type\": 0,\n                        \"model\": {},\n                        \"modes\": 1,\n                        \"conditions\": [],\n                        \"conditions_combo\": 0,\n                        \"silent_period\": {\n                            \"time_period\": {\n                                \"repeat\": [\n                                    1,\n                                    1,\n                                    1,\n                                    1,\n                                    1,\n                                    1,\n                                    1\n                                ],\n                                \"time_start\": \"00:00:00\",\n                                \"time_end\": \"23:59:59\"\n                            },\n                            \"silence_duration\": 10\n                        },\n                        \"output_type\": 1,\n                        \"shutter\": 0\n                    },\n                    \"wires\": [\n                        [\n                            1582908678\n                        ]\n                    ]\n                },\n                {\n                    \"id\": 1582908678,\n                    \"type\": \"image analyzer\",\n                    \"type_id\": 3,\n                    \"index\": 1,\n                    \"version\": \"0.0.1\",\n                    \"params\": {\n                        \"url\": \"\",\n                        \"header\": \"\",\n                        \"body\": {\n                            \"prompt\": \"Is the flower red?\",\n                            \"type\": 1,\n                            \"audio_txt\": \"Alert! Flower is red.\"\n                        }\n                    },\n                    \"wires\": []\n                }\n            ]\n        }\n    }\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":820,"wires":[["e8f8b8b3.9e1d18","4d4e633d65144b08"]]},{"id":"e8f8b8b3.9e1d18","type":"http response","z":"94fedf6142d85e4d","name":"","statusCode":"200","headers":{},"x":1000,"y":820,"wires":[]},{"id":"cc6ff78a67d45117","type":"http in","z":"94fedf6142d85e4d","d":true,"name":"","url":"/v1/watcher/vision","method":"post","upload":false,"swaggerDoc":"","x":450,"y":1100,"wires":[["8520514b18de028b","aae8ee3960205ce4"]]},{"id":"8520514b18de028b","type":"function","z":"94fedf6142d85e4d","d":true,"name":"Parse Image","func":"// 解析请求参数\nlet payload = msg.payload;\nlet imgBase64 = payload.img;\n\n// 将 Base64 编码的图像存储到 msg.payload\nmsg.payload = imgBase64;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1100,"wires":[["175b5bc0a545c805","53d3799caa22d3ca"]]},{"id":"175b5bc0a545c805","type":"http response","z":"94fedf6142d85e4d","d":true,"name":"","statusCode":"200","headers":{},"x":1000,"y":1080,"wires":[]},{"id":"53d3799caa22d3ca","type":"ui_template","z":"94fedf6142d85e4d","d":true,"group":"b4872e7880f0ceea","name":"Image Viewer","order":0,"width":"6","height":"6","format":"<div>\n    <h1>Image Viewer</h1>\n    <img id=\"image\" style=\"max-width: 100%;\" />\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data) {\n            document.getElementById('image').src = \"data:image/jpeg;base64,\" + data;\n        }\n    });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1020,"y":1140,"wires":[[]]},{"id":"204c14336004126c","type":"debug","z":"94fedf6142d85e4d","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":720,"wires":[]},{"id":"aae8ee3960205ce4","type":"debug","z":"94fedf6142d85e4d","d":true,"name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":1000,"wires":[]},{"id":"c1447b0c306b109e","type":"http in","z":"94fedf6142d85e4d","name":"","url":"/v2/watcher/talk/audio_stream","method":"post","upload":false,"swaggerDoc":"","x":500,"y":360,"wires":[["9babf70d01509198","1730e001d812c82a","f6e40c127d7c5bb7"]]},{"id":"9babf70d01509198","type":"function","z":"94fedf6142d85e4d","name":"Build JSON Response","func":"// 构建包含音频和 JSON 的响应\nconst jsonResponse = {\n    \"code\": 200,\n    \"msg\": \"\",\n    \"data\": {\n        \"mode\": 2,\n        \"duration\": 4356,\n        \"screen_text\": \"That sounds like a lot of fun! \",\n        \"stt_result\": \" I am going to see a film show.\",\n        \"task_summary\": {}\n    }\n};\n\n// 将 JSON 转换为 Buffer\nconst jsonBuffer = Buffer.from(JSON.stringify(jsonResponse), 'utf8');\n\n// 特殊分隔符\nconst boundary = Buffer.from('\\n---sensecraftboundary---\\n', 'utf8');\n\n// 将 JSON Buffer 和分隔符存储在 msg 中，以便在文件读取完成后使用\nmsg.jsonBuffer = jsonBuffer;\nmsg.boundary = boundary;\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":360,"wires":[["634926865116cddc"]]},{"id":"634926865116cddc","type":"file in","z":"94fedf6142d85e4d","name":"Read Audio File","filename":"/data/audio/1721634654422.wav","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":780,"y":500,"wires":[["85e06fdbf97ea787"]]},{"id":"85e06fdbf97ea787","type":"function","z":"94fedf6142d85e4d","name":"Combine JSON and Audio","func":"// 读取音频文件内容\nconst audioBuffer = msg.payload;\n\n// 从 msg 中获取之前存储的 JSON Buffer 和分隔符\nconst jsonBuffer = msg.jsonBuffer;\nconst boundary = msg.boundary;\n\n// 生成 HTTP 响应\nmsg.payload = Buffer.concat([jsonBuffer, boundary, audioBuffer]);\nmsg.headers = { 'Content-Type': 'application/octet-stream' };\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":580,"wires":[["e4bef462d631295d","4ca013e27d71e6aa"]]},{"id":"e4bef462d631295d","type":"http response","z":"94fedf6142d85e4d","name":"","statusCode":"200","headers":{},"x":1060,"y":580,"wires":[]},{"id":"4ca013e27d71e6aa","type":"debug","z":"94fedf6142d85e4d","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":480,"wires":[]},{"id":"4d4e633d65144b08","type":"debug","z":"94fedf6142d85e4d","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":720,"wires":[]},{"id":"1730e001d812c82a","type":"debug","z":"94fedf6142d85e4d","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":220,"wires":[]},{"id":"f6e40c127d7c5bb7","type":"google-cloud-speech-to-text","z":"94fedf6142d85e4d","account":"","keyFilename":"/data/key/innate-carport-389906-a478bda75c4b.json","name":"google-stt","sampleRate":16000,"encoding":"LINEAR16","languageCode":"en-US","x":1050,"y":220,"wires":[["function2"]]},{"id":"function2","type":"function","z":"94fedf6142d85e4d","name":"Extract Transcript","func":"if (msg.payload && msg.payload.results && msg.payload.results[0] && msg.payload.results[0].alternatives && msg.payload.results[0].alternatives[0]) {\n    msg.transcript = msg.payload.results[0].alternatives[0].transcript;\n    msg.confidence = msg.payload.results[0].alternatives[0].confidence;\n} else {\n    msg.transcript = '';\n    msg.confidence = 0;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":220,"wires":[["switch1","89c420158e7427aa"]]},{"id":"switch1","type":"switch","z":"94fedf6142d85e4d","name":"Check Transcript","property":"transcript","propertyType":"msg","rules":[{"t":"cont","v":"fire","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":220,"wires":[["eb64590e799adc5b"]]},{"id":"89c420158e7427aa","type":"debug","z":"94fedf6142d85e4d","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1500,"y":140,"wires":[]},{"id":"eb64590e799adc5b","type":"debug","z":"94fedf6142d85e4d","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1810,"y":140,"wires":[]},{"id":"03e61078d392081d","type":"function","z":"94fedf6142d85e4d","name":"Extract Transcript","func":"msg.payload.transcript = '';\nmsg.payload.confidence = 0;\nif (msg.payload && msg.payload.results && msg.payload.results[0] && msg.payload.results[0].alternatives && msg.payload.results[0].alternatives[0]) {\n    msg.payload.transcript = msg.payload.results[0].alternatives[0].transcript;\n    msg.payload.confidence = msg.payload.results[0].alternatives[0].confidence;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":640,"wires":[["c16bc8373c905f66","a12045c9addfed19"]]},{"id":"c16bc8373c905f66","type":"switch","z":"94fedf6142d85e4d","name":"Check Transcript","property":"transcript","propertyType":"msg","rules":[{"t":"eq","v":"hello","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1760,"y":640,"wires":[["6d72186ce7e5551f"],["069335cd7ae51717"]]},{"id":"6d72186ce7e5551f","type":"debug","z":"94fedf6142d85e4d","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1900,"y":580,"wires":[]},{"id":"069335cd7ae51717","type":"debug","z":"94fedf6142d85e4d","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1940,"y":660,"wires":[]},{"id":"74200a94c395bf04","type":"inject","z":"94fedf6142d85e4d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"results\":[{\"alternatives\":[{\"words\":[],\"transcript\":\"if there is a fire the device play sound at light up\",\"confidence\":0.9570844769477844}],\"channelTag\":0,\"resultEndTime\":{\"seconds\":\"6\",\"nanos\":310000000},\"languageCode\":\"en-us\"}],\"totalBilledTime\":{\"seconds\":\"7\",\"nanos\":0},\"speechAdaptationInfo\":null,\"requestId\":\"8329559451960725488\"}","payloadType":"json","x":1300,"y":640,"wires":[["03e61078d392081d","3536855911073c56"]]},{"id":"3536855911073c56","type":"debug","z":"94fedf6142d85e4d","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":500,"wires":[]},{"id":"a12045c9addfed19","type":"debug","z":"94fedf6142d85e4d","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1680,"y":540,"wires":[]},{"id":"b4872e7880f0ceea","type":"ui_group","name":"Default","tab":"e1a99f30145c633e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e1a99f30145c633e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]